<!--
	注文明細用テンプレート
	Model		:注文明細ビューモデル	${chumonViewModel}
	PostAction	:@{/ChumonMeisai}
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chumon Key Input</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 必要なCSSファイルやJavaScriptファイルの読み込み -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div id="content">
		<div class="container">
			<div class="form-group">
				<!-- Post範囲(Start) -->
				<form th:action="@{/ChumonMeisai}" method="post"
					th:object="${chumonViewModel}">
					<input type="hidden" name="id" value="1" /> <input type="hidden"
						th:field="*{chumonJisseki.version}" />
					<div id="accordion">
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingOne">
								<button class="accordion-button bg-light text-dark"
									type="button" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									<h3 th:text="${'商品注文'}"></h3>
								</button>
							</h5>
							<!-- 注文実績領域(Start) -->
							<div id="collapseOne" class="accordion-collapse collapse show"
								aria-labelledby="headingOne" data-parent="#accordion">
								<div class="accordion-body">
									<div class="row">
										<!-- 仕入先コード -->
										<div class="col-sm-1">
											<label for="shiirePrdId">仕入先コード</label>
										</div>
										<div class="col-sm-3">
											<input type="text" th:field="*{chumonJisseki.shiireSakiId}"
												class="form-control custom-disabled" readonly="readonly"
												tabindex="-1" />
										</div>
										<!-- 注文コード -->
										<div class="col-sm-1">
											<label for="chumonId">注文コード</label>
										</div>
										<div class="col-sm-3">
											<input type="text" th:field="*{chumonJisseki.chumonId}"
												class="form-control custom-disabled" readonly="readonly"
												tabindex="-1" />
										</div>
										<!-- 注文日 -->
										<div class="col-sm-1">
											<label for="chumonDate">注文日</label>
										</div>
										<div class="col-sm-3">
											<input type="text" th:field="*{chumonJisseki.chumonDate}"
												class="form-control custom-disabled" readonly="readonly"
												tabindex="-1" />
										</div>
									</div>
								</div>
							</div>
							<!-- 注文実績領域(End) -->
						</div>
					</div>
					<!-- 注文実績明細表示部 -->
					<table class="table">
						<!-- タイトル -->
						<thead>
							<tr>
								<th><label for="shiirePrdId">仕入先コード</label></th>
								<th><label for="shiirePrdName">仕入商品名称</label></th>
								<th><label for="shohinName">商品名称</label></th>
								<th><label for="chumonSu">注文数</label></th>
								<th><label for="chumonZan">注文残</label></th>
							</tr>
						</thead>
						<!-- 実際のデータ部 -->
						<tbody>
							<!-- ループでデータを表示 -->
							<tr
								th:each="meisai, rowStat : *{chumonJisseki.chumonJissekiMeisais}">
								<!-- Hidden部分 -->
								<!-- 注文コード -->
								<input type="hidden"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].chumonId}" />
								<!-- 注文先コード -->
								<input type="hidden"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].shiireSakiId}" />
								<!-- 商品コード -->
								<input type="hidden"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].shohinId}" />
								<!-- 更新前注文数 -->
								<input type="hidden"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].lastChumonSu}" />
								<!-- 排他制御用バージョン -->
								<input type="hidden"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].version}" />
								<!-- データ表示部分 -->
								<!-- 仕入商品コード -->
								<td><input type="text"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].shiirePrdId}"
									class="form-control custom-disabled d-none d-sm-block"
									tabindex="-1" /></td>
								<!-- 仕入商品名 -->
								<td><input type="text"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].shiireMaster.shiirePrdName}"
									class="form-control custom-disabled d-none d-sm-block"
									tabindex="-1" readonly="readonly" /></td>
								<!-- 商品名 -->
								<td><input type="text"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].shiireMaster.shohinMaster.shohinName}"
									class="form-control custom-disabled" tabindex="-1"
									readonly="readonly" /></td>
								<!-- 注文数 -->
								<td><input type="text"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].chumonSu}"
									class="form-control text-end" /> <span
									th:if="${#fields.hasErrors('chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].chumonSu')}"
									th:errors="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].chumonSu}"
									class="text-danger"></span></td>
								<!-- 注文残 -->
								<td><input type="text"
									th:field="*{chumonJisseki.chumonJissekiMeisais[__${rowStat.index}__].chumonZan}"
									class="form-control custom-disabled text-end" tabindex="-1"
									data-input-control="nofocus" /></td>
							</tr>
						</tbody>
					</table>
					<!-- 更新ボタン -->
					<div class="form-group">
						<input id="submit_btn" type="submit" value="更新"
							class="btn btn-primary" />
					</div>
				</form>
				<!-- Post範囲(End) -->
			</div>
			<p>
			<!-- 処理結果表示部 -->
			<div id="remark">
				<!-- 更新しました系表示部 正常：青　異常：赤-->
				class="${chumonViewModel.isNormal ? 'text-primary' : 'text-danger'}">	
				<b th:text="${chumonViewModel.remark}"></b>
			</div>
			</p>
		</div>
	</div>
</body>
</html>
