<!--
	注文キー入力用テンプレート
	Model		:注文キー入力用ビューモデル	${ChumonKeysViewModel}
	PostAction	:@{/submitForm}
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{Shared/layout}">
<head>
<meta charset="UTF-8">
<title>注文入力</title>
</head>

<body layout:fragment="content">
	<div class="row">
		<div class="col-md-4">
			<!-- form範囲(Start) -->
			<form action="#" th:action="@{KeyInput}"
				th:object="${ChumonKeysViewModel}" method="post">
				<div class="text-danger" th:if="${#fields.hasErrors('*')}">
					<div class="text-danger" th:each="error : ${#fields.errors('*')}"
						th:text="${error}"></div>
				</div>
				<!-- 注文先選択 -->
				<div class="form-group">
					<label class="control-label" for="shiireSakiId">仕入先</label>
					<!-- セレクトアイテムリスト -->
					<select id="shiireSakiId" name="shiireSakiId" class="form-control"
						th:field="*{shiireSakiId}">
						<option value="">-- 選択してください --</option>
						<option
							th:each="item : ${ChumonKeysViewModel.getShiireSakiList()}"
							th:value="${item.value}" th:text="${item.text}"></option>
					</select>
					<div class="text-danger"
						th:if="${#fields.hasErrors('shiireSakiId')}"
						th:errors="*{shiireSakiId}"></div>
				</div>
				<!-- 注文日 -->
				<div class="form-group">
					<label class="control-label" for="chumonDate">注文日</label>
					<input type="text" id="chumonDate" name="chumonDate"
						class="form-control" th:field="*{chumonDate}" />
					<div class="text-danger" th:if="${#fields.hasErrors('chumonDate')}"
						th:errors="*{chumonDate}"></div>
				</div>
				<!-- 検索ボタン -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary">検索</button>
				</div>
			</form>
			<!-- form範囲(End) -->
		</div>
	</div>
</body>

</html>
