html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-disabled {
    background-color: #e9ecef; /* デフォルトの灰色背景 */
    color: #6c757d; /* デフォルトの灰色テキスト */
}

.w-10 {
    width: 10%
}
.w-15 {
    width: 15%
}
.w-20{
    width: 20%
}

