<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/site.css" rel="stylesheet">
</head>
<body>
	<header>
		<nav
			class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3"
			style="background: linear-gradient(to right, #001F3F, #005F9E); border: 1px solid #005F9E;">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}" tabindex="-1">コンビニ在庫管理システム
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/Home/Index}" tabindex="-1">Home</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/Chumon/KeyInput}" tabindex="-1">商品注文</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/logout}" tabindex="-1">ログアウト</a></li>
					</ul>
				</div>
				<div  class="d-flex align-items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-person-fill-check me-2" viewBox="0 0 16 16">
  						<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
  						<path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
					</svg>
						<p
							th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.User)}"
							th:text="|ログインID：${#authentication.principal.username}|"
							class="text-light mb-0"></p>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<!-- コンテンツがここに挿入される -->
		<div layout:fragment="content"></div>
	</main>
	<footer
		class="border-top footer headerbg-color text-muted fixed-bottom"
		style="background: linear-gradient(to right, #001F3F, #005F9E); border: 1px solid #005F9E;">
		<div class="row">
			<div class="col text-white text-end pe-5">&copy; 2023-2024 -
				Techno Creative Inc.</div>
		</div>
	</footer>

	<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/lib/jquery/dist/js/jquery.min.js"></script>
	<script src="/lib/jquery/dist/js/jquery.cookie.min.js"></script>
	<!-- 各スクリプトが展開される 各ビュー設定次第-->
	<div layout:fragment="script"></div>
</body>
</html>